= link_to 'https://www.instagram.com/webuygoodsnyc/' do
  .alert.alert-danger.text-center.insta-alert
    %i.fa.fa-instagram.fa-4x.insta-link
    .insta-follow
      SHOP SELLHANDBAG.NYC ON INSTAGRAM
      %br
      CLICK HERE TO WATCH OUR ITEMS